<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: darkslategray;
            color: lightcoral;
        }
    </style>
</head>
<body>
    <h1>At foo bar</h1>
    <h2>{{drink.name}}</h2>
    <img src="{{drink.image}}.png" alt="">
    <h3>{{drink.price}}</h3>
    <a href="/drinks">Back</a>
    <ul>
        {% for drinks in allDrinks%}
        <li style="text-transform:capitalize">
            <a href="/drinks/{{forloop.index0}}">{{drinks.name}}</a> 
        </li>
        {%endfor%}
    </ul>
</body>
</html>